---
import * as blog from '@support/blog';
import ListPosts from '../../components/ListPosts.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { urlTo } from '@support/urls';

const title = 'Blog';
const description = 'Latest articles.';
const permalink = urlTo(Astro, 'blog');

let allPosts = await blog.getLiveBlogEntries();
blog.sort(allPosts);
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">
    <h1>Blog</h1>
    <ListPosts posts={allPosts} />
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  hr {
    margin: 60px auto;
  }
</style>
