
html {
  font-family: 'Lusitana', serif;
  --h1-margin: 0px;
  --p-margin: 10px;
}

body {
  color: #333;
  background-color: #cecccc;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d0d0d0' fill-opacity='1'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 0 10px 10px 10px;

  font-size: 150%;
}

.site-icon {
  margin-right: 10px;
}

.site-icon svg {
  width: 3rem;
  height: 3rem;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

a:hover svg {
  opacity: 0.9;
}

h1 {
  margin: var(--h1-margin) 0;
}

p {
  margin: var(--p-margin) 0;
  color: #333;
}
