---
// Front Matter
import BaseLayout from '@layouts/BaseLayout.astro';
import Card from '@components/Card.astro';
---
<BaseLayout>
  <Card>
    <h1>Serious Error!</h1>
    <p>😵</p>
    <p slot="footer">There's no page here. Please check the URL for mistakes and try again.</p>
  </Card>
</BaseLayout>