---
// Front Matter
import BaseLayout from '../layouts/BaseLayout.astro';
import SiteIcon from '../components/SiteIcon.astro';
import Card from '../components/Card.astro';
import * as icons from '../support/icons';
---
<BaseLayout>
  <Card class="vcard">
    <h1 class="fn">Nick Howes</h1>
    <p>Freelance Scientist</p>
    <Fragment slot="footer">
        <SiteIcon title="GitHub" svg={icons.github} href="https://github.com/halfninja" />
        <SiteIcon title="Twitter" svg={icons.twitter} href="https://twitter.com/nickhowes" />  
        <SiteIcon title="LinkedIn" svg={icons.linkedIn} href="https://www.linkedin.com/in/nickhowes/" />
        <SiteIcon title="Email" svg={icons.email} href="mailto:nick@nickhowes.co.uk" />
    </Fragment>
  </Card>
</BaseLayout>