---
import Logo from './Logo.astro'
import Nav from './Nav.astro'

const { current = '' } = Astro.props;
const homePage = current === 'home';
---

<style>
  header {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    padding: 2em;
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }
</style>

<header>
  {/* <Logo /> */}
  {homePage ? '' : <h1>Nick Howes</h1>}
  <Nav current={current} />
</header>
