---
export type Props = {
  title: string;
  svg: string;
  href: string;
};

const { title, svg, href } = Astro.props as Props;
---
<a class="site-icon" href={href} title={title} set:html={svg}></a>
<style>
a {
  text-decoration: none;
}
</style>