<div class="flex flex-wrap items-center sm:items-center gap-x-4">
	<p>Find me on</p>
	<ul class="flex items-center flex-1 gap-x-4 sm:flex-initial">
		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="https://github.com/halfninja"
				target="_blank"
				rel="noopener noreferrer"
			>
				<svg
					class="w-6 h-6"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path
						d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
					>
					</path>
				</svg>
				<span class="sr-only">Github</span>
			</a>
		</li>
		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="https://twitter.com/nickhowes"
				target="_blank"
				rel="noopener noreferrer"
			>
				<svg
					class="w-6 h-6"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path
						d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"
					>
					</path>
				</svg>
				<span class="sr-only">Twitter</span>
			</a>
		</li>
		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="https://www.linkedin.com/in/nickhowes/"
				target="_blank"
				rel="noopener noreferrer"
			>
				<svg
					class="w-6 h-6"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path d="m 3.4329897,6.9278351 c -1.2061855,-1.0515464 0,-2.9690722 1.4536082,-2.9690722 1.4536083,0 3.1237111,1.6701031 1.886598,3.556701 C 5.5360825,9.4020619 3.5257732,9.4329897 3.5257732,9.4329897 L 3.4639175,19.85567 9.185567,19.886598 V 8.9072165 l 3.618557,0.030928 v 1.6082475 c 0,0 1.453608,-1.6701031 3.98969,-1.701031 2.536083,-0.030928 4.237114,1.793814 4.206186,4.206185 -0.03093,2.412372 -0.09278,6.804124 -0.09278,6.804124 l -3.804123,0.06186 0.09278,-5.628866 c 0,0 -0.154639,-2.505155 -1.670103,-2.536083 -1.515464,-0.03093 -2.536082,1.329897 -2.597938,3.185567 -0.06186,1.85567 0,4.948454 0,4.948454"></path>
				</svg>
				<span class="sr-only">LinkedIn</span>
			</a>
		</li>
		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="mailto:nick@nickhowes.co.uk"
			>
				<svg
					class="w-6 h-6"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<rect x="3" y="5" width="18" height="14" rx="2"></rect>
					<polyline points="3 7 12 13 21 7"></polyline>
				</svg>
				<span class="sr-only">Email</span>
			</a>
		</li>
	</ul>
</div>
