---
// Styles
import '../styles/normalize-modified.css';
import '../styles/style.css';
---
<!doctype html>
<html>
<!--

  
            🤨 Hello there.


-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Nick Howes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
</head>
<body>
  <slot />
</body>
</html>